h1{
    font-family: monospace;
}

body section{
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#id1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}

.clase{
    color: rgb(40, 160, 160);
}

body > h1{
    font-size: 30px;
    color: rgb(73, 167, 30);
}

body {
   padding: 40px;
}